.cutomSwiper {
  height: 90vh;
  width: 100%;
  position: relative;
}
.customSwiper__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}
.cutomSwiper img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 30% 30%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  color: var(--mainColor);
  padding: 6rem 3rem;
  display: flex;
  top: 20%;
}
